body {
    background-color: rgb(232, 142, 15);
    margin: 0;
    padding:0 ;
}

h1, h2 {
    font-size: 50px;
    text-align: center;
    text-shadow: 6px 4px 2px wheat;
    font-family:   cursive;
    margin: 10px;
}

button {
    width: 100px;
    height: 40px;
    font-family:  'Fredoka One', cursive;
    font-size: 20px;
    display: block;
    margin: auto;
    background-color: rgb(19, 243, 31);
    border-radius: 4px;
    transition: 0.5s;
}

button:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(0, 255, 0);
}
button:active{
    color: rgb(0, 0, 0);
    font-size: 15px;
    background-color: rgb(0, 255, 0);
}

.container {
    position: relative;
    bottom: 60px;
    max-width: 600px;
    margin:auto;
    cursor: url(../img/1w.png),auto ;
}

.container:active {
    cursor: url(../img/2w.png),auto;
}

.tanah {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    float: left;
}

.tanah::after {
    content: '';
    display: block;
    width:  200px;
    height:  100px;
    background: url(../img/soil_PNG43.webp) bottom center no-repeat;
    background-size: 80%;
    position: absolute;
    bottom: -25px;
}

.tikus {
    width: 100%;
    height: 100%;
    background: url(../img/2.webp)bottom center no-repeat;
    background-size: 50%;
    position: absolute;
    top:100px;
    transition: top 0.3s;
}

.tanah.muncul .tikus {
    top: 0;
}